<%= render "form.html", Map.put(assigns, :action, Routes.higher_secondary_path(@conn, :update, @token_no)) %>
<%= render "total_form.html", Map.put(assigns, :action, Routes.higher_secondary_path(@conn, :update_total, @token_no)) %>