<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SarthakAdmission · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    
    <%= if get_flash(@conn, :info) do %>
      <div id="flash_message" class="fixed top-0 left-0 right-0 py1 px2 md-px4 bg-blue white">
      <div class="flex items-top mxn2">
        <div class="px2" onclick="hide_flash_message()"><i class="white material-icons">highlight_off</i></div>
        <div class="px2"><%= get_flash(@conn, :info) %></div>
      </div>
    </div>
    <% end %>

    <%= if get_flash(@conn, :error) do %>
    <div id="flash_message" class="fixed top-0 left-0 right-0 py1 px2 md-px4 bg-red white">
      <div class="flex items-top mxn2">
        <div class="px2" onclick="hide_flash_message()"><i class="white material-icons">highlight_off</i></div>
        <div class="px2"><%= get_flash(@conn, :error) %></div>
      </div>
    </div>

    <% end %>

    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>


    <script>
        var hide_flash_message = function(){
          document.getElementById("flash_message").classList.add("hide");
        }
    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
